@model List<Biblioteca.Models.Livro>;

<h1>Biblioteca #####</h1>
<p>Bem-vindo à nossa <b>Biblioteca digital</b>. Aqui você pode encontrar sua obra favorita entre nosso extenso catálogo.</p>

<div class="pt-4 pb-4 p-0 container-fluid mb-5">
    <h2 class="text-center mb-4">Top Vendas &#11088</h2>
    <div class="row d-flex justify-content-around">
        @foreach (var livro in Model) 
        {
            <div class="col mb-4 d-flex"style="max-width: 550px;">
                <div class="container-sm border border-primary rounded-4 border-3 p-4 bg-success d-flex ">
                    <img src="~/images/Cabajo.jpg" alt="Cabajo" class="img-thumbnail">

                    <div class="m-3">
                        <h5 class="fw-bold">@livro.Titulo</h5>
                        <p>Autor: <span class="fst-italic">@livro.Autor<span/></p>
                        <p>Número de páginas: <span class="fst-italic">@livro.NumPaginas<span/></p>
                        <p>Gênero: <span class="fst-italic">@livro.Genero<span/></p>
                        <p>Data de publicação: <span class="fst-italic">@livro.DataPublicacao<span/></p>
                    </div>
                </div>
            </div>

        } 
    </div>
</div>

<div class="container-lg border border-success border-3 rounded-4 d-flex mb-6 bg-secondary p-3">
    <img src="~/images/Cabajo.jpg" alt="Placeholder" class="img-thumbnail">
    <div class="d-flex flex-column text-center container p-2 m-2">
        <h1>Sobre nós</h1>
        <p>Amamos cavalos de qualquer espécie <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quae vitae nobis rerum pariatur! Vel omnis reiciendis, praesentium quod voluptatum eum repudiandae illo provident, iusto porro enim consequuntur assumenda quos.</p>
    </div>

</div>
